## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [66]:
import pandas as pd

df = pd.read_csv('C:/Users/richv/OneDrive/Documents/Starter_Code/Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [67]:
#pd View the column names in the data
pd.set_option('display.max_columns', None)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [68]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [69]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [70]:
# What three item categories had the most entries?
category_count = df['category'].value_counts() 
print(category_count)

# consumables (23,538), furniture (11,915), and software (8,400)

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [71]:
# For the category with the most entries,
# which subcategory had the most entries?

consumable_subcategory = df['subcategory'].groupby(df['category']).value_counts()
print(consumable_subcategory)

# bathroom supplies (6,424)

category     subcategory
consumables  bathroom supplies     6424
             paper products        5874
             kitchen supplies      5746
             misc                  2891
             pens                  2603
decor        plants                3466
             wall art              3093
             misc                  1395
electronics  telecom                978
             audio visual           732
             cabling                655
             computers              467
furniture    tables                4540
             stands                4201
             seating               2664
             desks                  510
software     accounting            3756
             project management    3522
             logistics             1122
Name: count, dtype: int64

In [72]:
# Which five clients had the most entries in the data?
top_clients = dict(df['client_id'].value_counts())
print(top_clients)

# 33615, 66037, 46820, 38378, 24741

{33615: 220, 66037: 211, 46820: 209, 38378: 207, 24741: 207, 42481: 206, 71958: 205, 32500: 202, 49687: 201, 43607: 197, 84156: 195, 91091: 195, 62566: 193, 37715: 189, 41491: 185, 97876: 185, 80977: 183, 51869: 182, 84446: 177, 89110: 176, 29718: 174, 92201: 174, 78965: 173, 37542: 172, 21654: 171, 14935: 170, 95847: 169, 38473: 168, 48855: 166, 10520: 163, 29992: 163, 57574: 161, 49851: 161, 31715: 160, 16624: 158, 32597: 158, 10559: 157, 43361: 157, 79361: 156, 24007: 156, 35176: 155, 50202: 153, 79827: 152, 72892: 152, 18574: 151, 35794: 150, 16084: 149, 90851: 149, 49037: 148, 17699: 145, 37608: 145, 70745: 145, 38220: 145, 86106: 145, 57920: 144, 81150: 144, 34706: 144, 80857: 143, 10435: 143, 82075: 142, 21474: 142, 81576: 142, 49404: 142, 70029: 142, 65687: 142, 34507: 142, 55191: 141, 94675: 141, 33956: 141, 65748: 140, 58133: 140, 74559: 140, 32549: 140, 69528: 140, 33804: 139, 42550: 139, 41908: 139, 87612: 138, 31229: 138, 19405: 138, 85413: 137, 84344: 137, 71992: 137, 96954: 137, 28331: 136, 47078: 136, 82172: 135, 65819: 135, 79817: 134, 49058: 133, 86810: 133, 12286: 133, 34878: 133, 46709: 132, 73876: 132, 96736: 131, 62639: 130, 94136: 130, 46973: 130, 25119: 130, 61647: 128, 24485: 128, 25185: 127, 84432: 127, 44673: 127, 38192: 127, 77306: 126, 62992: 126, 19904: 126, 97124: 125, 26120: 125, 32240: 125, 10753: 125, 81012: 125, 47930: 125, 54350: 124, 56977: 124, 52678: 124, 73677: 124, 73362: 123, 53348: 123, 87985: 123, 26601: 123, 83686: 123, 22262: 123, 22952: 123, 44699: 122, 42460: 122, 61211: 122, 85152: 122, 24053: 122, 55696: 122, 86721: 122, 17697: 120, 65049: 120, 77184: 120, 71447: 120, 84710: 120, 10643: 119, 80875: 118, 17720: 118, 95108: 118, 37609: 118, 22008: 117, 34873: 117, 16982: 116, 92089: 116, 23919: 116, 67516: 116, 76418: 115, 76087: 115, 56523: 115, 34426: 115, 48410: 114, 85977: 113, 87213: 112, 88149: 112, 13482: 112, 76177: 112, 47507: 110, 54940: 110, 56590: 110, 81719: 109, 73156: 109, 34323: 109, 37214: 108, 47644: 108, 17254: 107, 66328: 107, 32156: 107, 52670: 107, 53409: 107, 30339: 106, 98302: 106, 95003: 106, 69260: 105, 49027: 104, 77340: 104, 86113: 103, 69327: 103, 18145: 102, 87125: 102, 91149: 102, 87473: 101, 81699: 100, 57295: 99, 61935: 97, 62135: 97, 40264: 97, 46191: 93, 98410: 92, 48554: 90, 20875: 88, 21134: 86, 13021: 84, 35902: 84, 20885: 83, 94752: 82, 52709: 78, 13010: 78, 93794: 78, 63691: 77, 66888: 77, 84354: 77, 22101: 77, 92173: 76, 68370: 75, 46363: 75, 75947: 75, 80508: 75, 25374: 73, 11436: 73, 30489: 73, 62227: 73, 92331: 72, 91973: 71, 78447: 71, 19326: 71, 93693: 70, 75118: 70, 72202: 70, 67252: 70, 81778: 70, 69074: 69, 99400: 69, 49457: 69, 48148: 69, 74058: 67, 51173: 67, 43576: 67, 40622: 67, 25114: 66, 41561: 66, 46804: 66, 31268: 66, 44969: 65, 49300: 64, 93818: 64, 64260: 64, 87506: 64, 83552: 63, 69671: 63, 25397: 63, 28011: 63, 44715: 62, 99231: 62, 80891: 62, 51367: 61, 86938: 61, 48540: 60, 47614: 60, 52841: 60, 54196: 60, 87226: 60, 78618: 59, 55336: 59, 22051: 59, 22772: 59, 72247: 59, 20333: 59, 18514: 59, 65084: 59, 90466: 58, 58400: 58, 39141: 58, 90703: 58, 29621: 58, 68577: 58, 50281: 58, 67860: 58, 18452: 57, 18092: 57, 12338: 57, 36531: 57, 86040: 57, 70995: 56, 90641: 56, 25936: 56, 32539: 56, 43968: 56, 50317: 56, 31558: 55, 21633: 55, 85931: 55, 51826: 55, 29906: 55, 28523: 55, 86045: 55, 34998: 54, 77354: 54, 11675: 54, 15536: 54, 39965: 54, 80975: 54, 22109: 54, 34514: 54, 64213: 54, 38158: 54, 60527: 54, 22833: 54, 44881: 53, 30369: 53, 54094: 53, 50088: 53, 15318: 52, 53305: 52, 26185: 52, 87975: 52, 79966: 52, 54596: 52, 37937: 52, 57496: 52, 88930: 52, 40457: 52, 91419: 52, 98475: 52, 61449: 52, 48723: 51, 33921: 51, 29043: 51, 92744: 51, 65486: 51, 54400: 51, 47752: 51, 74673: 51, 35348: 51, 89081: 51, 56645: 51, 36139: 51, 50111: 50, 28386: 50, 99736: 50, 21317: 50, 38626: 50, 16500: 50, 82891: 50, 24926: 50, 10351: 50, 20291: 50, 75662: 50, 36557: 49, 35900: 49, 59610: 49, 61603: 49, 94213: 49, 99060: 49, 16279: 49, 46897: 49, 73265: 49, 14557: 49, 39382: 48, 67877: 48, 58277: 48, 97577: 48, 71449: 48, 83981: 48, 32783: 48, 16710: 48, 67407: 48, 90654: 48, 89499: 48, 83448: 48, 27516: 47, 95119: 47, 65419: 47, 61382: 47, 65569: 47, 59765: 47, 39280: 47, 63780: 47, 99394: 47, 40749: 47, 38305: 47, 89324: 47, 15647: 47, 82386: 47, 38012: 47, 94174: 46, 62559: 46, 30367: 46, 58789: 46, 24502: 46, 17646: 46, 85139: 46, 46571: 46, 20793: 46, 12269: 46, 94786: 46, 59268: 46, 36023: 46, 18975: 45, 47496: 45, 62116: 45, 48342: 45, 46547: 45, 26564: 45, 61027: 45, 39613: 45, 29026: 45, 61559: 45, 97017: 45, 44849: 44, 13436: 44, 22670: 44, 94420: 44, 43090: 44, 79451: 44, 17355: 44, 29579: 44, 61084: 44, 94438: 44, 60955: 44, 31753: 44, 85720: 44, 99302: 44, 51158: 44, 33220: 44, 40214: 44, 61844: 44, 87132: 44, 41069: 44, 32698: 43, 13616: 43, 19467: 43, 66615: 43, 56274: 43, 79683: 43, 24236: 43, 99354: 43, 61161: 43, 24889: 43, 50002: 43, 91480: 43, 34847: 43, 78860: 43, 97794: 43, 23939: 43, 27302: 42, 82336: 42, 64194: 42, 55552: 42, 14881: 42, 90079: 42, 82931: 42, 72694: 42, 36284: 42, 49743: 42, 61058: 42, 22890: 42, 61110: 42, 64563: 42, 23041: 41, 47061: 41, 52885: 41, 43867: 41, 84878: 41, 57134: 41, 31279: 41, 30272: 41, 47153: 41, 52037: 41, 78733: 41, 97026: 41, 44795: 41, 86487: 41, 94475: 41, 37231: 41, 99973: 40, 61197: 40, 18800: 40, 54471: 40, 67852: 40, 11869: 40, 30026: 40, 58799: 40, 97623: 40, 98291: 40, 74112: 40, 83238: 40, 20849: 40, 73175: 40, 44807: 40, 40677: 40, 30827: 40, 46661: 40, 18074: 39, 35467: 39, 41738: 39, 79755: 39, 84535: 39, 68227: 39, 49451: 39, 63806: 39, 16974: 39, 11444: 39, 92057: 39, 77592: 39, 38167: 39, 34271: 39, 96713: 39, 53993: 39, 25639: 39, 19800: 39, 32232: 39, 57148: 39, 61560: 39, 37432: 39, 63354: 39, 92936: 39, 95944: 39, 88326: 38, 55914: 38, 56343: 38, 50377: 38, 69437: 38, 58515: 38, 82314: 38, 99043: 38, 88237: 38, 29940: 38, 22859: 38, 11890: 38, 16568: 38, 30509: 38, 41766: 38, 17002: 38, 31733: 38, 73153: 38, 38760: 37, 84429: 37, 81490: 37, 51839: 37, 67328: 37, 19062: 37, 44148: 37, 30994: 37, 94774: 37, 73797: 37, 61797: 37, 57283: 37, 79313: 37, 98561: 37, 27114: 37, 92721: 37, 88257: 37, 85369: 36, 85298: 36, 40610: 36, 15805: 36, 81912: 36, 87556: 36, 83646: 36, 51629: 36, 27617: 36, 74643: 36, 42298: 36, 88009: 36, 46554: 36, 88685: 36, 48013: 36, 27079: 36, 30306: 36, 62315: 35, 33367: 35, 36393: 35, 40835: 35, 48877: 35, 25942: 35, 25535: 35, 45395: 35, 65030: 35, 20820: 35, 29238: 35, 71600: 35, 57669: 35, 54740: 35, 12028: 35, 71188: 35, 69701: 35, 59566: 35, 35929: 35, 71981: 35, 93900: 35, 68464: 35, 79329: 35, 62380: 35, 81533: 35, 70781: 35, 74236: 35, 57762: 35, 74159: 35, 55398: 34, 91809: 34, 99390: 34, 13092: 34, 50333: 34, 68332: 34, 28080: 34, 43570: 34, 79453: 34, 31165: 34, 44478: 34, 75217: 34, 18789: 34, 64649: 33, 64616: 33, 56021: 33, 28927: 33, 34575: 33, 89505: 33, 14312: 33, 71289: 33, 99984: 33, 27387: 33, 98974: 33, 18454: 33, 75351: 33, 52379: 33, 34713: 33, 96899: 33, 11432: 33, 51210: 33, 41696: 33, 30143: 33, 90747: 33, 83803: 33, 35208: 33, 67182: 33, 96848: 33, 38212: 33, 39113: 33, 27771: 33, 57175: 33, 53809: 32, 52356: 32, 12789: 32, 21314: 32, 61164: 32, 41656: 32, 61482: 32, 91328: 32, 19484: 32, 99213: 32, 85093: 32, 39939: 32, 72963: 32, 72750: 32, 97532: 32, 43980: 32, 24729: 32, 41965: 31, 65434: 31, 19872: 31, 81534: 31, 12285: 31, 23640: 31, 32185: 31, 73467: 31, 62732: 31, 27372: 31, 70775: 31, 26396: 31, 84720: 31, 30246: 30, 50173: 30, 80474: 30, 28782: 30, 93423: 30, 77875: 30, 35619: 30, 32145: 30, 75225: 30, 45631: 30, 48193: 30, 13444: 30, 25037: 30, 64477: 30, 97522: 30, 97501: 30, 59472: 30, 14180: 29, 79804: 29, 15825: 29, 38974: 29, 33475: 29, 40938: 29, 51200: 29, 83290: 29, 46354: 29, 57434: 29, 54340: 29, 54932: 29, 89557: 29, 60730: 29, 29566: 29, 44304: 29, 52996: 29, 42471: 29, 31680: 29, 13801: 29, 34259: 29, 90482: 29, 28671: 29, 95565: 29, 78465: 29, 51561: 28, 35763: 28, 35930: 28, 28464: 28, 82280: 28, 95469: 28, 33593: 28, 31897: 28, 77531: 28, 54172: 28, 10218: 28, 97987: 28, 13258: 28, 79507: 27, 61136: 27, 31836: 27, 86936: 27, 27983: 27, 89957: 27, 78536: 27, 73450: 27, 54907: 27, 19820: 27, 58173: 27, 89502: 27, 64902: 27, 23548: 27, 37212: 27, 56941: 27, 47962: 26, 38932: 26, 93798: 26, 50605: 26, 52580: 26, 87722: 26, 61124: 26, 73110: 26, 16290: 26, 77281: 26, 44742: 26, 56250: 26, 37296: 26, 70939: 26, 76697: 25, 95656: 25, 16675: 25, 83211: 25, 68703: 25, 31668: 25, 73652: 25, 45569: 25, 34811: 25, 55217: 25, 18741: 25, 53953: 25, 31289: 25, 61350: 25, 84527: 25, 49009: 25, 64455: 25, 66345: 25, 88840: 25, 48607: 25, 11984: 25, 22122: 25, 84699: 25, 41342: 25, 85964: 25, 88939: 25, 76714: 24, 77692: 24, 29323: 24, 73798: 24, 81907: 24, 42270: 24, 45456: 24, 86906: 24, 55690: 24, 73569: 24, 69499: 24, 36703: 24, 66648: 24, 90934: 24, 86562: 24, 11787: 24, 19206: 24, 16444: 24, 32620: 24, 87154: 24, 73729: 24, 75546: 24, 87818: 23, 53508: 23, 93886: 23, 15901: 23, 54518: 23, 56935: 23, 99450: 23, 57113: 23, 91172: 23, 73297: 23, 24750: 23, 57181: 23, 11015: 23, 32595: 23, 50685: 23, 31885: 23, 68877: 23, 76520: 23, 31923: 22, 62134: 22, 88852: 22, 70744: 22, 38992: 22, 48015: 22, 29245: 22, 52023: 22, 23906: 22, 94238: 22, 76797: 21, 10910: 21, 78248: 21, 82402: 21, 67739: 21, 78498: 21, 78302: 21, 81805: 21, 18811: 21, 28231: 21, 66368: 21, 18390: 21, 22759: 21, 37784: 21, 81842: 21, 59711: 21, 55605: 21, 44157: 21, 77449: 21, 35483: 21, 18349: 21, 55846: 21, 98825: 21, 58304: 20, 19918: 20, 32117: 20, 83126: 20, 44498: 20, 53578: 20, 64680: 20, 89159: 20, 73125: 19, 66243: 19, 67005: 19, 40754: 19, 37580: 19, 10033: 19, 79518: 19, 48149: 19, 15554: 19, 91441: 19, 77587: 19, 10846: 19, 71420: 19, 32026: 19, 61465: 19, 86393: 19, 80229: 19, 71919: 18, 71054: 18, 74106: 18, 79713: 18, 28036: 18, 84576: 18, 98014: 18, 68874: 18, 75907: 18, 80384: 18, 53622: 18, 16788: 18, 35531: 18, 91124: 18, 56168: 18, 18550: 18, 28598: 18, 49758: 18, 33529: 18, 65681: 18, 27458: 18, 73169: 17, 83089: 17, 79504: 17, 10944: 17, 48611: 17, 53864: 17, 40490: 17, 16195: 17, 19222: 17, 76049: 17, 57765: 17, 45280: 17, 19030: 17, 39516: 16, 99128: 16, 95671: 16, 40562: 16, 32210: 16, 70461: 16, 34211: 16, 16130: 16, 89041: 16, 92169: 16, 70784: 16, 98412: 16, 46911: 16, 59965: 15, 33151: 15, 92552: 15, 47197: 15, 78786: 15, 86899: 15, 67692: 15, 64090: 15, 16792: 15, 89503: 15, 21522: 14, 50162: 14, 51008: 14, 92111: 14, 30564: 14, 90604: 14, 89869: 14, 10091: 14, 67908: 14, 54893: 13, 16021: 13, 94742: 13, 68532: 13, 64586: 13, 57776: 13, 32098: 13, 36017: 13, 56435: 13, 42792: 13, 32730: 13, 90830: 13, 32227: 13, 28525: 13, 34313: 12, 87791: 12, 24760: 12, 74098: 12, 80989: 12, 70043: 12, 19093: 11, 57681: 11, 94401: 11, 44784: 11, 26707: 11, 54011: 11, 93076: 11, 69633: 10, 84006: 10, 65338: 10, 81024: 10, 78434: 9, 82254: 9, 75770: 9, 27692: 9, 96517: 9, 71560: 9, 30693: 9, 77673: 8, 17425: 8, 29772: 8, 97596: 8, 15845: 8, 48106: 7, 36662: 7, 93184: 7, 91729: 7, 69800: 6, 23557: 6, 12907: 6, 95649: 6, 29025: 6, 16892: 6, 49481: 5, 39173: 5, 41209: 5, 70734: 4, 32001: 4, 77583: 3, 76017: 3, 94987: 1}

In [75]:
# Store the client ids of those top 5 clients in a list.
top5_clients = dict(df['client_id'].value_counts().head(5))
print(top5_clients)

{33615: 220, 66037: 211, 46820: 209, 38378: 207, 24741: 207}

In [ ]:
# How many total units (the qty column) did the
# client with the most entries order order?

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [ ]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

In [ ]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

In [ ]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

In [ ]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

In [ ]:
# Create a column for the profit of
# each line using line cost and line price

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [ ]:
# Check your work using the totals above

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [ ]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

In [ ]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

In [ ]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest